CVC/
GRAN/
Graphormer/
embeddings/
.idea/
.vscode/
data/embedding_graphs_50th_perc/
data/embedding_graphs_75th_perc/
data/embedding_graphs_90th_perc_new/
data/embedding_graphs_95th_perc/
data/data_ab_all_139.csv
data/data_ab_83.csv
data/data_12_fp.csv
graphs/
outputs/edge_lists/
Models/hgp-sl
testing_scripts/junk.py
testing_scripts/scripts/list_to_move.txt
testing_scripts/scripts/missing_files.txt
testing_scripts/scripts/actual_files.txt
testing_scripts/scripts/move_script.sh
testing_scripts/scripts/run_docker.sh
testing_scripts/analysis/mixcr_analysis.rmd
data/top_200_crs.csv
data/metadata/data_12_fp.csv
data/metadata/data_ab_83.csv
data/metadata/data_ab_all_139.csv
data/vdjdb-2025-02-21
data/McPAS-TCR.csv
data/20250312-TRAIT_search_download.xlsx
testing_scripts/analysis/colon_analysis copy.ipynb
outputs/colon/tables/fast_corr.csv